[Unit]
Description=Metting Schedule files listener
Wants=network-online.target
After=network.target network-online.target

[Service]
User=user
WorkingDirectory=/var/www/ellsworthsolutions.cloud/schedule
ExecStart=/usr/bin/supervisor files.js
Restart=always

[Install]
WantedBy=multi-user.target
